body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://i.pinimg.com/originals/43/18/23/431823dd2958601f94c1a7b496c966c9.gif');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#nickname-section,
#game-section {
    text-align: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.subscribe-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.subscribe-button:hover {
    background-color: #0056b3;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.tap-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tap-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.tap-button img {
    width: 256px;
    height: 256px;
}

.energy {
    font-size: 18px;
    font-weight: bold;
}

#tap-effect {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('https://cdn-icons-png.flaticon.com/128/12546/12546441.png') no-repeat center center;
    background-size: cover;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
}
